.btn {
    display: inline-block;
    vertical-align: top;

    font-family: 'Panton';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: $white;


    text-align: center;
    padding: 16px 32px;

    border: none;
    border-radius: 16px;
    background-color: $blue_02;
    cursor: pointer;

    &--popup {

        margin: 0 auto;
        position: relative;
        left: 50%;

        transform: translate(-50%);
    }

    &--slider {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        padding: 8px 13px;
        gap: 10px;

        background: $white;
        border: 2px solid $blue_01;
        color: $blue_01;

        letter-spacing: 0.05em;
        text-transform: uppercase;

        width: 168px;
        height: 48px;

        transition: all .3s;

        &:hover {
            color: $white;
            background-color: $blue_01;
        }

    }

    &--popup_3 {

        margin: 0 auto;
        position: relative;
        left: 85px;

        transform: translate(-50%);

        @include breakpoint($mobile-br) {
            left: 50%;
        }
    }

    &--expert {
        width: 295px;

        position: absolute;
        left: 50%;
        bottom: 32px;

        transform: translate(-50%);

        @include breakpoint($mobile-36) {
            width: 230px;
            font-size: 16px;
            padding: 8px 16px;
            bottom: 9px;
        }
    }



    &--width {
        width: 235px;

        @include breakpoint($mobile-36) {
            width: 230px;
            font-size: 16px;
            padding: 8px 16px;
        }
    }

}

//кноака вверх


#button {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background: $blue_02;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1001110;

}


#button:hover {
    cursor: pointer;
    background-color: $blue_01;
}

#button:active {
    background-color: $blue_01;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.btn__arrow{
    height: 18px;
}